
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /* font-family: 'Fira Mono', monospace; */
    color: rgb(12, 33, 41);
    /* padding: 3rem;
    background-color: rgb(12, 33, 41); */
}

#backImg {
    /* background-image: url('images/cloud.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(25, 26, 25, 0.438), 
        rgba(30, 31, 31, 0)), 
        url('images/low-poly-texture-108.png');
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    
}

@media screen and (max-width: 599px) {
    h1 {
        font-size: 3.4rem;
    }

    .headings {
        top: 10%;
    }

}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 6.8rem;
    }

}

/* .header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(25, 26, 25, 0.438), 
        rgba(30, 31, 31, 0)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
} */



nav {
    background-color: transparent;
    box-shadow: none;
    height: 3.8rem;
   /* margin-top: 30px; */
   line-height: 1;
   text-transform: uppercase;
   /* position: absolute; */
   /* border-bottom: 1px solid white; */
   
}

.nav-wrapper {
    position: absolute;
}



nav ul a {
    font-size: 1.2rem;
    
}

nav li a {
    line-height: 3rem;
}


.container.one {
    padding-bottom: 10%;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: white;   
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    /* font-family: 'Vidaloka', serif; */
    /* border-bottom: 1px solid rgb(247, 198, 92); */
}


.headings {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.headings h2{
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
line-height: 1.5;


}


.section {
    font-size: 2rem;


    color: rgb(12, 33, 41);
    text-align: center;
    padding-bottom: 7.5rem;
    background-color: white;
}

.row {
    text-align: center;
}



h3 {
    font-size: 1.8rem;
    display: inline;
}

a h3 {
    color: rgb(253, 253, 253); 
font-size: 1.4rem;

    margin-left: .5rem;
    margin-top: 0;
    padding-top:.5rem;
    padding-bottom: .5rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}



a h3:hover{
    color:rgb(247, 198, 92);
}

.section {
   margin-top: 10rem;
}

.heading {
    font-size: 3.2rem;
    text-transform: uppercase;

    letter-spacing: 1rem;

    padding: 2rem 4rem;
    margin-bottom: 10rem;
    color: rgb(26, 102, 133);
    font-family: 'Chivo', sans-serif;
   
    text-align: center;
}

.section h2 {
margin-bottom: 15rem;
}

.section.two { 
    color: rgb(26, 102, 133);
    margin: 0rem 7rem -10rem 7rem;
}


.section.two li {
    font-size: 1.6rem;
    text-align: justify;
    color:  rgb(26, 102, 133);
    border-radius: .5rem;
}

li.liHead {
    color: rgb(12, 33, 41);
}

.hello {
    font-size: 2.2rem;
    text-align: left;
    color: rgb(38, 187, 197);

    font-family: 'Chivo', sans-serif;

    padding-bottom: 2rem;
    
    /* border-bottom: 10px solid rgba(247, 198, 92, 0.603); */
   width: 94%;
   margin-right: 6%;
    /* line-height: 1; */
}

.section.two img {
   float: left;
    width: 24rem;
    margin: 3rem;
}

.prof-pic img{
   -webkit-shape-outside: shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
   
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}

.section.three img{
width:100%;
float: left;

}

.post-preview {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 1rem 0rem;
 
}

.projDetail {
    display: none;
    text-align: center;
    /* font-weight: bold; */
    /* background-color:  rgba(219, 231, 236, 0.966); */

    background-color:  rgba(11, 43, 56, 0.829);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
   
    font-size: 3.6rem;
    padding-top: 20%;
    
    transition: all 2.6s;
    -webkit-transition: all 2.6s;
    -moz-transition: all 2.6s;
  }

  .post-preview:hover .projDetail {
    display: block;
    line-height: 1;
    
    
  }

  .detailTitle {
    font-family: 'Chivo', sans-serif;
    padding: 1rem 2rem;
      margin-top: .5rem;
      text-align: center;
      font-size: 2.4rem;
  }

 span.detailSubTitle {
    font-size: 1.6rem;
    margin-right: 5%;
    margin-left: 5%;
    
    /* padding-right: 5%;
    padding-left: 5%; */
    
}

.detailSubTitle {
    line-height: 1;
    padding: .3rem .6rem;
    
}

.section.four {
    
    padding: 20rem 0rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba(25, 26, 25, 0.438), 
        rgba(30, 31, 31, 0)), 
        url('images/low-poly-texture-108.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    clip-path: polygon(0 0, 100% 15rem, 100% 80rem, 0 100%);
}

.section.four#four {
    color: white;
}

.section.four li {
    padding: 2%;
   
    color: white;
    background-color: rgb(247, 198, 92);
   text-align: center;

   font-size: 1.8rem;
   text-transform: uppercase;
   width: 30rem;
   margin: 1rem auto;
}


.section.contact {
    
    text-align: left;
  background-color: rgb(38, 187, 197);
    padding-top: 5rem;

}

.section.contact a {
    color: grey;
    
    text-decoration: none;
}

#conIcons {
    position: relative;
    list-style-type: none;
}

#conIcons a {
    color: white;
    font-size: 2rem;

}
