#backImg {
    background-image: url('images/cloud.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(12, 33, 41);
    font-weight: 300;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
    /* text-shadow: 2px 2px 2px black,
                4px 4px 8px black,
                4px 4px 12px black; */
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    z-index: 1;
    font-family: 'Nixie One', cursive;
    border-bottom: 1px solid white;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;

}

nav {
    background-color: #2323232f;
    height: 32px;
   /* margin-top: 30px; */
   line-height: 1;
   /* position: absolute; */
   border-bottom: 1px solid white;
   

}

nav ul a {
    font-size: 12px;
    
}

nav li a {
    line-height: 30px;
    font-weight: 300;
}


#conIcons {
    
    float: right;
    margin-right: 3%;
    position: relative;
}

#conIcons a {
    color: white;
    font-size: 2rem;

}

.headings {
width: 60%;
margin: auto;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
}

#circle {
    border: 2px solid white;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    /* background: rgba(21, 32, 44, 0.274); */
}

/* #circle {
    border: 5px solid white;
    position: relative;
    display: inline-block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(21, 32, 44, 0.274);
} */


.container.one {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
}

/* #headColor {
    margin: 0 auto;
    width: 100%;
    text-shadow: 3px 3px 15px rgba(18, 35, 88, 0.74);
} */

.overlay {
    background-color: #23232338;
    z-index: -1;
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
}

.headings h2{
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    /* text-shadow: 2px 2px 2px black,
    4px 4px 8px black,
    4px 4px 12px black; */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    width: 70%;
    margin: auto;
}





.section {
    font-size: 2em;
    color: rgb(12, 33, 41);
    text-align: center;
    padding-bottom: 75px;
}

.row {
    text-align: center;
}



h3 {
    font-size: 18px;
    /* font-weight: 700; */
    text-transform: uppercase;
    display: inline;
}

a h3 {
    color: rgb(253, 253, 253); 
    font-weight: 300;
font-size: 14px;

    margin-left: 5px;
    margin-top: 0;
    /* border: 1px solid white; */
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top:5px;
    padding-bottom: 5px;
    /* text-shadow: 3px 3px 15px rgba(18, 35, 88, 0.74); */
    transition: all 1.0s;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
}

/* .section.one {
    margin-left: 3%;
} */

a h3:hover{
    color:rgb(245, 180, 142); 
}

.section h2 {
  
    font-size: 60px;
    text-transform: uppercase;
    /* font-weight: 600; */
    padding-top: 50px;
    padding-bottom: 10px;
    color: rgb(26, 102, 133);
    font-family: 'Nixie One', cursive;
    text-align: left;
    border-bottom: 2px solid rgb(26, 102, 133);
    margin-bottom: 80px;
}


.section.two {
    /* background: url('http://www.powerpointhintergrund.com/uploads/grid-background-image-10.png'); */
    /* background-size: cover; */
    /* background-color: rgba(12, 39, 49, 0.726); */
    
    color: rgb(26, 102, 133);
    /* background-color: rgb(69, 63, 77); */
}


.section.two li {
    font-size: 20px;
    text-align: justify;
    color:  rgb(26, 102, 133);
    border-radius: 5px;
}

li.liHead {
    color: rgb(12, 33, 41);
}

.hello {
    font-size: 20px;
    text-align: left;
   
    /* line-height: 1; */
}

.section.two img {
    /* border: 5px solid rgba(247, 179, 101, 0.952); */
    /* box-shadow: 1px 1px 10px rgb(153, 127, 143); */
   float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
   
}

.section.three img{
width:100%;
float: left;
/* margin-bottom: 10px; */
/* opacity: 0.7; */
border-radius: 5px;
/* box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.514); */

}

/* .section.three {
    background-color: rgb(20, 48, 59);
} */


.post-preview {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 10px 0px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.514); */
    
}

.projDetail {
    display: none;
    text-align: center;
    /* font-weight: bold; */
    background-color:  rgba(219, 231, 236, 0.966);
    /* background-color: rgb(20, 48, 59); */


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(26, 102, 133);
   
    font-size: 36px;
    padding-top: 20%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20%;
    border-radius: 5px;

    transition: all 1.6s;
    -webkit-transition: all 1.6s;
    -moz-transition: all 1.6s;
  }

  .post-preview:hover .projDetail {
    display: block;
    line-height: 1;
    
    
  }

  .detailTitle {
     
      padding-right: 5px;
      padding-left: 5px;
      margin-top: 5px;
      font-weight: bold;
      text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.514);
  }

 span.detailSubTitle {
    font-size: 20px;
    margin-right: 3%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    
}


.detailSubTitle li {
    background-color: rgba(255, 255, 255, 0.877);
    color: rgb(26, 102, 133);
    border-radius: 30px;
    position: inline;
    float: left;
    padding: 3px 6px;
    margin: 3px;
}

  .section.contact {
    font-size: 6em;
    text-align: left;
  
    color: grey;
    display: block;
    position: relative;
}

.section.contact a {
    color: grey;
    text-decoration: none;
}


.section.four {
    color: grey;
}

.section.four li {
    padding: 2%;
    margin: 1%;
    color: rgb(51, 141, 177);
   text-align: left;
}